@charset "UTF-8";

*{
	padding: 0px;
	margin: 0px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	box-sizing: border-box;
}

:root{
	--primary: #3da9fc;			/*Blue*/
	--secondary: #e45858; 		/*Red*/
	--light: #fffffe; 			/*White*/
	--secondarylight: #eff0f3;	/*White*/
	--dark: #1b2d45;       		/*DarkBlue*/
}

header{
	width: 100%;
	position: fixed;
	z-index: 1000;
    background-color: var(--light);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#header{
	width: 85%;
	padding: 10px 0;
	height: 50px;
	margin-top: 10px;
	margin: auto;
	justify-content: space-around;
	display: flex;
	align-items:center;
	background-color: var(--light);
	position: relative;
}

.menu-container{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-between;
}

a{
	text-decoration: none;
}

.logo-container{
	width: 50px;
	display:flex;
}

.logo{
	display: flex;
	align-items: center;
	width: 100%;
}

.logo img{
	width: 40px;
	height: 40px;
}

.items-container{
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style: none;
	width: 60%;
	margin: auto;
}

.items{
	width: 100px;
	text-align: center;
}

.items.dashboard{
	width: 500px;
}

.items > a{
	display: block;
	width: 100%;
	background-color: var(--light);
	border-radius: 7px;
	border: 3px solid transparent;
	padding: 6px 0px;
	transition: border 0.3s ease;
	transition-duration: 0.3s;
	color: var(--dark);
	box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
	font-size: 1rem;
	font-weight: bold;
}

.items > a:hover {
	background-color: var(--light);
	color: var(--primary);
	border: 3px solid var(--primary);
	box-shadow:0 0 6px rgba(0, 0, 0, 0.6);	
}

.profile{
	display:flex;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	border: 3px solid var(--primary);
	border-radius: 50%;
	box-sizing: border-box;
	margin-right: 4px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.6);
	transition: 0.1s ease;
	cursor: pointer;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  display: block;
  object-fit: cover;
}

.profile i {
  font-size: 20px;
  color: var(--primary);
}

.profile:hover{
	cursor:pointer;
}

.profile:hover i{
	color: var(--primary);
}

.user-bar {
    position: fixed;
    top: -120px;
    right: 10px;
    width: 20%;
    height: 50px;
    background-color: var(--light);
    border: none;
    transition: top 0.5s ease-in-out;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 10px;
}

.user-bar.active{
	top: 55px;
}

.profile-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	border-radius: 20px;
}

.profile-summary{
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 3px solid var(--primary);
	border-right: 0;
	border-radius: 10px 0 0 10px;
	width: 83%;
	gap: 8px;
	color: var(--primary);
	height: 100%;
	padding-left: 20px;
}

.to-account{
	width: 17%;
	border: 3px solid var(--primary);
	border-left: 0;
	border-radius: 0 10px 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	height: 100%;
	transition: 0.1s ease;
}

.to-account > i{
	width: 35px;
	height: auto;
	text-align: center;
}

.to-account:hover{
	background-color: var(--primary);
}

.to-account:hover > i{
	color: var(--light);
}

.user-bar i, .user-bar h4, .user-bar span{
	color: var(--primary);
}

.log-container{
	display: flex;
	list-style: none;
}

form{
	width: 100px;
	text-align: center;
	margin: 0px 5px;
	
}

.log > form > button{
	display: block;
	width: 100px;
	background-color: var(--light);
	border-radius: 7px;
	border: 3px solid var(--secondary);
	box-shadow:0 0 3px rgba(0, 0, 0, 0.6);
	padding: 6px 0px;
	transition: background-color 0.2s ease;
	color: var(--secondary);
	font-size: 1rem;
	font-weight: bold;
}

.log > form > button:hover {
	background-color: var(--secondary);
	color: var(--secondarylight);
	border: 3px solid var(--secondary);
	box-shadow:0 0 6px rgba(0, 0, 0, 0.6);
	font-weight: bold;
	cursor: pointer;
}

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 20px;
	cursor: pointer;
	z-index: 1;
	margin-left: 20px;
}

.hamburger span {
	height: 3px;
	background-color: var(--dark);
	border-radius: 10px;
	transition: 0.3s ease;
}

.hamburger.active span:nth-child(1) {
	transform: rotate(45deg) translate(3px, 3px);
}
.hamburger.active span:nth-child(2) {
	transform: rotate(-45deg) translate(3px, -3px);
}
.hamburger.active span:nth-child(3) {
	opacity: 0;
}

.sidebar {
	position: fixed;
	top: 70px;
	left: -105vw;
	width: 99.7vw;
	height: 40px;
	background-color: var(--light);
	box-shadow: -2px 0 10px rgba(0,0,0,0.1);
	transition: left 0.5s ease-in-out;
	z-index: 10;
	display: none;
	border: 2px solid var(--primary);
	border-radius: 0 0 10px 10px;
}

.sidebar.active {
	left: 0;
}

.side-container {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	padding: 8px;
	gap: 10px;
}

.side-items a, .side-items.logout button{
	text-decoration: none;
	color: var(--dark);
	font-size: 1rem;
	transition: transform 0.3s ease;
	font-weight: bold;
}

.side-items.logout button{
	border: none;
	display: inline-block;
	outline: none;
	background-color: transparent;
}

.side-items a:hover {
	color: var(--primary);
	text-decoration: underline;
}

.side-items.logout button:hover{
	color: var(--secondary) !important;
	text-decoration: underline;
	cursor: pointer;
}

@media (max-width: 900px) {

	header {
		position: fixed;
		width: 100%;
		box-shadow: 0 1px 2px var(--primary);
		padding: 10px;
	}

	#header {
		position: relative;
		padding: 0;
		width: 100%;
		box-sizing: border-box;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}

	.logo-container{
		width: 100%;
		margin-left: -60px;
	}
	.logo {
		width: 35%;
		margin: auto;
		display:flex;
		justify-content: center;
	}
  
	.hamburger {
		display: flex;
	}

	.menu-container {
		display: none;
	}

	.sidebar {
		display: block;
	}
	
	.user-bar{
		display:none;
	}
}

@media (max-width: 570px) {
	.sidebar {
		position: fixed;
		top: 70px;
		left: -270px;
		width: 150px;
		height: 100vh;
		background-color: var(--light);
		box-shadow: -2px 0 10px rgba(0,0,0,0.1);
		transition: left 0.3s ease;
		z-index: 10;
		display: none;
		border: 2px solid var(--primary);
		border-radius: 0 10px 0 0;
	}

	.side-container {
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		padding: 10px;
		gap: 15px;
		margin-top: 5px;
	}

	.sidebar.active {
		left: 0;
	}
	
	.side-items a, .side-items button{
		text-decoration: none;
		color: var(--dark);
		border-radius: 8px;
		transition: background-color 0.3s ease;
	}
	
	#side-Logout{
		display: flex;
		justify-content: flex-start;
	}
	
	.side-items button{
		padding-left: 6px;
	}
	
	.side-items a{
		padding: 10px;
	}
	
	.menu-container {
		display: none;
	}

	.sidebar {
		display: block;
	}
	
	.user-bar{
		display:none;
	}
}

