@charset "UTF-8";

*{
	padding: 0px;
	margin: 0px;
	font-family: "Poppins", sans-serif;
  	font-weight: 500;
  	font-style: normal;
}

:root{
	--primary: #3da9fc;			/*Blue*/
	--secondary: #e45858; 		/*Red*/
	--light: #fffffe; 			/*White*/
	--secondarylight: #eff0f3;	/*White*/
	--dark: #1b2d45;       		/*DarkBlue*/
}

body{
	background-color: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
}

main{
	width: 70%;
	height: 100vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-side{
	width: 35%;
	display: flex;
}

.left-side img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.right-side{
	width: 60%;
	border: 3px solid var(--secondarylight);
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

.upper{
	display: flex;
	justify-content: center;
	border-radius: 18px;
	padding: 10px;
	border-bottom: 3px solid var(--primary);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.upper h1{
	color: var(--dark);
	font-weight: bold;
	font-size: 1.6rem;
}

.lower h1{
	color: var(--dark);
	font-weight: bold;
	width: 85%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2rem;
}

.lower span{
	color: var(--primary);
	font-weight: bold;
	width: 85%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2rem;
}

.errorMessage{
	color: var(--secondary);
	font-weight: bold;
	text-align: center;
}

.upper span{
	font-size: 1.6rem;
}

span{
	color: var(--primary);
}

.form{
	display: flex;
	width: 75%;
	margin: 0 auto;
	padding: 40px;
	height: 375px;
	flex-direction: column;
	align-items: center;
}

label{
	color: var(--dark);
	font-size: 1rem;
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 2px;
	padding-left: 10px;
}

.input{
	height: 50px;
	padding: 0 15px;
	border-radius: 30px;
	border: 3px solid var(--secondarylight);
	background-color: var(--light);
	color: var(--dark);
	box-shadow: 0 1px 6px rgba(0 ,0 ,0 ,0.4);
	width: 85%;
	margin: 0 auto;
	transition: 0.3s ease;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.input:focus-within {
	border: 3px solid var(--primary);
	color: var(--primary);
	font-size: 1rem;
}

.input input:focus{
	color: var(--primary);
}

.input input:focus::placeholder{
	color: transparent;
}

.input input::placeholder{
	font-size: 0.9rem;
}

.input input{
	width: 90%;
	height: 100%;
	border:none;
	outline: none;
	font-size: 0.9rem;
	color: inherit;
}

.actions{
	display: flex;
	gap: 10px;
	justify-content: space-between;
	width: 84%;
	margin: 10px auto;
}

.clear, .login{
	width: 50%;
	border: 3px solid var(--light);
	background-color: var(--light);
	border-radius: 30px;
	padding: 10px;
	transition: 0.2s ease;
	box-shadow: 0 0 8px rgba(0 ,0 ,0 ,0.3);
	font-weight: bold;
}

.clear{
	color: var(--secondary);
}

.login{
	color: var(--primary);
}

.login:hover{
	background-color:var(--primary);
	border: 3px solid var(--primary);
	cursor: pointer;	
	color: var(--secondarylight);
}

.clear:hover{
	background-color:var(--secondary);
	border: 3px solid var(--secondary);
	color: var(--secondarylight);
	cursor: pointer;
}

.forgot-text, .register-text{
	width: 80%;
	padding-left: 10px;
}

.forgot-text{
	padding-top: 10px;
}

a.forgot{
	text-decoration: none;
	color: var(--dark);
	margin: 0 auto;
	transition: 0.3s ease;
}

a.register{
	text-decoration: none;
	color: var(--dark);
	margin: 0 auto;
	transition: 0.3s ease;
}

a:hover{
	cursor: pointer;
}

a.forgot:hover{
	color: var(--secondary);
	text-decoration: underline;
}

a.register:hover{
	color: var(--primary);
	text-decoration: underline;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden
  }

  main {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100vh;
  }

  .left-side{
  	width: 50%;
  	height: auto;
  }
  
  
  .right-side {
    width: 90%;
    height: auto;
  }

  .right-side {
    border-radius: 20px;
  }

  .form {
    padding: 20px 10px;
    height: auto;
  }

  
  .lower h1 {
    font-size: 18px;
    text-align: center;
  }

  label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .input {
  	width: 84%; 
    font-size: 0.8rem;
  }

  .actions {
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 5px;
  }

  .clear,
  .login {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  a.forgot,
  a.register {
    font-size: 0.9rem;
    padding: 2px;
    margin: 5px 0;
    display: block;
  }
}
