@charset "UTF-8";

*{
	padding: 0px;
	margin: 0px;
	font-family: "Poppins", sans-serif;
  	font-weight: 500;
  	font-style: normal;
}

:root{
	--primary: #3da9fc;			/*Blue*/
	--secondary: #e45858; 		/*Red*/
	--light: #fffffe; 			/*White*/
	--secondarylight: #eff0f3;	/*White*/
	--dark: #1b2d45;       		/*DarkBlue*/
}

body{
	background-color: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
}

.database-error {
    position: fixed;
    top: 5px;
    right: -400px;
    width: 350px;
    height: 20px;
    background-color: var(--light);
    color: var(--secondary);
    padding: 10px;
    border-radius: 30px;
    border: 3px solid var(--secondary);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease-in-out;
    z-index: 10;
    
}

.database-error .base-error{
	height: 20px;
	font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.database-error.active {
    right: 10px;
}

main{
	width: 80%;
	margin: auto;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-section{
	width: 30%;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: center;
}

.logo-section > img{
	width: 100%;
	margin: auto;
	height: auto;
	padding-bottom: 10px;
}

.content-section{
	display: flex;
	flex-direction: column;
	width: 70%;
	height: auto;
	margin: auto;
	border: 3px solid var(--light);
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
	border-radius: 30px;
	padding: 30px 60px;
}

.register-text{
	border-bottom: 1px solid var(--primary);
	width: 100%;
	margin-bottom: 5px;
}

.register-text h1{
	text-align: center;
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: bold;
}

h1 > span{
	color: var(--primary);	
	font-weight: bold;
}

.form{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.form .double-section{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: auto;
}

.double-section .inner-section{
	display: flex;
	flex-direction: column;
	width: 45%;
}

.single-section{
	width: 95%;
	margin: auto;
}

.single-section .inner-section{
	display: flex;
	flex-direction: column;
}

.inner-section > label{
	color: var(--dark);
	font-size: 1rem;
	padding-left: 10px;
	text-align: left;
}

.form input {
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-size: 1rem;
}

.form input[type = "email"]{
	width: 92%;
}

.form .normal-input,
.form .error-input {
    padding: 10px 15px;
    border-radius: 30px;
    background-color: var(--light);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    color: inherit;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:var(--dark);
}

.form .normal-input {
    border: 2px solid var(--light);
}

.form .error-input {
    border: 2px solid var(--secondary);
}

.form .normal-input:focus-within,
.form .error-input:focus-within {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.form input::placeholder {
    font-size: 0.9rem;
    transition: 0.3s ease;
}

.form input:focus::placeholder {
    color: transparent;
}

.field-error{
	color: var(--secondary);
	font-size: 0.8rem;
	min-height: 12px;
	height: 12px;
	padding-left: 10px;
	padding-bottom: 2px;
}

.actions{
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	width: 100%;
	margin: auto;
	outline: none;
}

.actions button, .actions a.cancel{
	box-sizing: border-box;
	display: block;
	text-align: center;
	width: 45%;
	border-radius: 30px;
	font-size: 1rem;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	background-color: var(--light);
	font-weight: bold;
	transition: 0.3s ease;
	border: none;
}

a.cancel{
	color: var(--secondary);
}

button.submit{
	color: var(--primary);
	outline: none;
}

a.cancel:hover{
	color: var(--secondarylight);
	background-color: var(--secondary);
	cursor: pointer;
}

button.submit:hover{
	color: var(--secondarylight);
	background-color: var(--primary);
	cursor: pointer;
}

@media (max-width: 1000px){
	main{
		width: 100%;
		margin:20px 0;
	}
	
	.Register{
		width: 90%;
	}
	
	.form .double-section{
		flex-direction: column;
	}
	
	.double-section .inner-section{
		width: 100%;
	}
	
	.form .single-section{
		width: 100%;
	}
	
	.actions{
		flex-direction: column-reverse;
		padding-top: 10px;
	}
	
	img{
		display: none;
	}
	
	.actions button,submit, .actions > a.cancel{ 
		width: 100%;
		margin: 5px 0;
	}
}





